# Plugin Configuration for Point_Tools
# Each entry is menuName, "Command text", className
# Author LazzyIzzi
# Requires ImageJ 1.53k
# Date:1/1/2024

#Eclipse embeds the package name (pointFunctions) into the the className access path.
#plugins.config must explicitly put the package name in the className access path.
#Note the use of the "dot" in the path string. Why not the traditional "/" or "\"???

#only one plugins.config file per jar file
#jar file structure must be flat, i.e. no embedded directories
#Include PointFunctions, ProgressBars and ImageJAddins when building bundled jar file

Plugins>Point Tools>,"Chord Length Distribution", pointFunctions.Chord_Length_Distribution
Plugins>Point Tools>,"Lineal Path Function", pointFunctions.Lineal_Path_Function
Plugins>Point Tools>,"Pore_Size_Distribution", pointFunctions.Pore_Size_Distribution
Plugins>Point Tools>,"Two_Point_Correlation", pointFunctions.Two_Point_Correlation